/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/

*.class
*.sbtserver*
*.log

# sbt specific
.cache/
.history/
.idea/
.lib/

.idea_modules/

dist/*
*.class
*.log

.ws
